---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../style.css';
---

<Layout title="">

	<Header/>
	<main class="container mx-auto xl:px-40 2xl:px-48 text-white">
	    <h1 class="text-white text-center text-9xl py-60">HOLA</h1>
	</main>
	<Footer/>
</Layout>
