---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../style.css';
---

<Layout title="">
	<main>
		<h1>Welcome to <span class="text-cyan-500 text-5xl">Astro</span></h1>
	</main>
</Layout>
