---
import '../style.css';
---

<footer class="container mx-auto xl:px-40 2xl:px-48 text-white uppercase py-12 bg-blue-600">
    <div class="flex justify-between items-center tracking-tighter border-b-2 pb-1 font-medium">
        <nav class="space-x-4 ">
            <a href="">About</a>
            <a href="">Design</a>
            <a href="">Programming</a>
            <a href="">Blockchain</a>
            <a href="">Courses</a>
        </nav>
    </div>

    <div class="flex justify-between items-center tracking-tighter mt-12">
        <p>AXENTIOI ALEXANDRU - JAVASCRIPT DEVELOPER</p>
        <p>2022 - ALL RIGHTS RESERVED</p>
    </div>
</footer>