---
import '../style.css';
---

<header class="container mx-auto xl:px-40 2xl:px-48 text-white font-medium uppercase py-4">
    <h3 class="text-4xl sm:text-5xl text-center py-4 mb-12 tracking-widest">Thejsdude</h3>
    <div class="flex justify-between sm:text-lg tracking-tighter border-b-2 pb-1">
        <nav class="space-x-4 ">
            <a href="">About</a>
            <a href="">Design</a>
            <a href="">Programming</a>
            <a href="">Blockchain</a>
            <a href="">Courses</a>
        </nav>
        <form action="">
            Get in touch
        </form>
    </div>

</header>